<a href="https://colab.research.google.com/github/Naveen-Reddy55/Titanic_Survival-Predictions/blob/master/Titanic_Prediction_Model_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploded=files.upload()

Saving train.csv to train (23).csv

In [ ]:
uploded1=files.upload()

Saving test.csv to test (17).csv

In [ ]:
import io
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
train_data=pd.read_csv(io.BytesIO(uploded["train.csv"]))
test_data=pd.read_csv(io.BytesIO(uploded1["test.csv"]))

In [ ]:
train_data.tail()

     PassengerId  Survived  Pclass  ...   Fare Cabin  Embarked
886          887         0       2  ...  13.00   NaN         S
887          888         1       1  ...  30.00   B42         S
888          889         0       3  ...  23.45   NaN         S
889          890         1       1  ...  30.00  C148         C
890          891         0       3  ...   7.75   NaN         Q

[5 rows x 12 columns]

In [ ]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
train_data1=train_data.fillna(0)
test_data1=test_data.fillna(0)

In [ ]:
test_data1.head(10)

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...     0        Q
1          893       3  ...     0        S
2          894       2  ...     0        Q
3          895       3  ...     0        S
4          896       3  ...     0        S
5          897       3  ...     0        S
6          898       3  ...     0        Q
7          899       2  ...     0        S
8          900       3  ...     0        C
9          901       3  ...     0        S

[10 rows x 11 columns]

In [ ]:
Sex=pd.get_dummies(train_data1["Sex"],drop_first=True)
Sex_test=pd.get_dummies(test_data1["Sex"],drop_first=True)
Sex.head(10)

   male
0     1
1     0
2     0
3     0
4     1
5     1
6     1
7     1
8     0
9     0

In [ ]:
Embark=pd.get_dummies(train_data1["Embarked"],drop_first=True)
Embark_test=pd.get_dummies(test_data1["Embarked"])
Embark_test

     C  Q  S
0    0  1  0
1    0  0  1
2    0  1  0
3    0  0  1
4    0  0  1
..  .. .. ..
413  0  0  1
414  1  0  0
415  0  0  1
416  0  0  1
417  1  0  0

[418 rows x 3 columns]

In [ ]:
train_data1.drop((["Name","Ticket","Fare","PassengerId","Cabin","Sex","Embarked"]),axis=1,inplace=True)
test_data1.drop((["Name","Ticket","Fare","PassengerId","Cabin","Sex","Embarked"]),axis=1,inplace=True)

In [ ]:
train_data1

     Survived  Pclass   Age  SibSp  Parch
0           0       3  22.0      1      0
1           1       1  38.0      1      0
2           1       3  26.0      0      0
3           1       1  35.0      1      0
4           0       3  35.0      0      0
..        ...     ...   ...    ...    ...
886         0       2  27.0      0      0
887         1       1  19.0      0      0
888         0       3   0.0      1      2
889         1       1  26.0      0      0
890         0       3  32.0      0      0

[891 rows x 5 columns]

In [ ]:
data_main=pd.concat([train_data1,Sex,Embark],axis=1)
test_data_main=pd.concat([test_data1,Sex_test,Embark_test],axis=1)

In [ ]:
data_main

     Survived  Pclass   Age  SibSp  Parch  male  C  Q  S
0           0       3  22.0      1      0     1  0  0  1
1           1       1  38.0      1      0     0  1  0  0
2           1       3  26.0      0      0     0  0  0  1
3           1       1  35.0      1      0     0  0  0  1
4           0       3  35.0      0      0     1  0  0  1
..        ...     ...   ...    ...    ...   ... .. .. ..
886         0       2  27.0      0      0     1  0  0  1
887         1       1  19.0      0      0     0  0  0  1
888         0       3   0.0      1      2     0  0  0  1
889         1       1  26.0      0      0     1  1  0  0
890         0       3  32.0      0      0     1  0  1  0

[891 rows x 9 columns]

In [ ]:
test_data_main

     Pclass   Age  SibSp  Parch  male  C  Q  S
0         3  34.5      0      0     1  0  1  0
1         3  47.0      1      0     0  0  0  1
2         2  62.0      0      0     1  0  1  0
3         3  27.0      0      0     1  0  0  1
4         3  22.0      1      1     0  0  0  1
..      ...   ...    ...    ...   ... .. .. ..
413       3   0.0      0      0     1  0  0  1
414       1  39.0      0      0     0  1  0  0
415       3  38.5      0      0     1  0  0  1
416       3   0.0      0      0     1  0  0  1
417       3   0.0      1      1     1  1  0  0

[418 rows x 8 columns]

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
import sklearn 
from sklearn.preprocessing import StandardScaler
from keras import optimizers

In [ ]:
y_Set=(data_main["Survived"])
X_Set=data_main.drop(["Survived"],axis=1)

In [ ]:
scaler=StandardScaler()
X_Set=scaler.fit_transform(X_Set)

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_val,y_train,y_val=train_test_split(X_Set, y_Set, test_size=0.30, shuffle=True)

In [ ]:
model=Sequential()
model.add(Dense(X_train.shape[1],activation="relu",input_shape=(X_train.shape[1],)))
model.add(Dense(5,activation="relu"))
model.add(Dense(5,activation="relu"))
model.add(Dense(1,activation="sigmoid"))

In [ ]:

model.compile(optimizer="adam",
             loss='binary_crossentropy',
             metrics=['accuracy'])

In [ ]:
model.fit(X_train,y_train,epochs=10,batch_size=32,verbose=0)

In [58]:
model.evaluate(X_val,y_val)

9/9 [==============================] - 0s 1ms/step - loss: 0.4862 - accuracy: 0.7799

[0.4861655831336975, 0.7798507213592529]

In [ ]:
predict=model.predict(test_data_main)

In [ ]:
pred=(predict>0.005)*1

In [ ]:
result=pd.DataFrame()

In [ ]:
upload2=files.upload()

Saving gender_submission.csv to gender_submission.csv

In [ ]:
ID=pd.read_csv(io.BytesIO(upload2["gender_submission.csv"]))

In [ ]:
result["PassengerId"]=ID["PassengerId"]
result["Survived"]=pred

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
result.to_csv('/content/drive/My Drive/Submission.csv',index=False)